.eventsPage {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  margin: 0;
  box-sizing: border-box;
  background-color: #0c0f11;
  background-position: center;
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.cardRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  padding: 10px 20px 20px;

  color: white;
  border-right: 3px solid black;
}

Link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.leftPannel {
  padding: 20px;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.rightPannel {
  padding: 20px 10px;
  height: 600px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  height: 50vh;
  position: sticky;
  top: 0;
}

.rightPannel > h2 {
  margin: 12px 0px 8px 0px;
}

.leftPannel > h2 {
  margin: 12px 0px 0px 0px;
}

.mapbox {
  width: 90%;
  height: 100%;
}
