.editOrganizerPage {
  background-position: center;
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  z-index: 1;
  position: absolute;
  padding: 100px 0px;
}

.profileForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 10px;
  padding: 40px 0px;
  border-radius: 3px;
  box-shadow: 0px 8px 10px 2px rgba(211, 211, 211, 0.781);
}
.titleForm {
  position: relative;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 90%;
  height: 120px;
  background: linear-gradient(60deg, #ff6000, #e95900);
  margin: auto;
  border-radius: 3px;
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.bodyForm {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.userController {
  margin: 0px 0px 20px;
  width: 70%;
}

.inputDiv {
  width: 100%;
}

.inputDiv > input {
  color: #666;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid grey;
  transform: scaleX(1);
}

.inputDiv input:focus {
  border-bottom: solid 3px #019fb6;
}

.inputDiv > label {
  margin: 3px;
  display: inline-block;
  font-size: 0.7em;
}

/* .profileForm > input:focus {
  border-bottom: solid 3px #019fb6;
  transform: scaleX(1);
} */

.profileForm > span:hover:after {
  transform: scaleX(1);
}
