.OrganizerProfile{
    padding-top: 130px;
    margin: 0;
    box-sizing: border-box;
    background-color: #0C0F11;
    background-position:center;
    position:absolute;
    min-width:100%;
    min-height:100vh;
    top:0;
    z-index:1;
    background-size: cover;
    background-repeat: no-repeat;
    color: #e4f9ff;
}

.buttons-org {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 50px;
}

.buttons-org button{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: inherit;
  text-decoration: none;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  margin-bottom: 5px;
  background-color: #ff6000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  top: 0;
}
.OrgCard{
  width: 50%;
  margin-top: 20px;
  padding-top:20px;
  margin: 100px;
  background-color: #040405;
  border-radius: 10px;
  font-weight: 500;

}
.organizer-information{
  display: flex;
  justify-content: flex-start;
}

.organizer-information img {
  width: 200px;
}

.events {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.events h2 {
padding-left: 80px;
}
.events button {
display: flex;
flex-direction: column;
align-items: flex-end;
background-color: #ff6000;
color: #e3f2ff;
border: none;
border-radius: 2px;
}
.eventscard {
  width: 80%;
  margin-top: 20px;
  padding-top:20px;
  margin: 100px;
  background-color: #0C0F11;
  border-radius: 10px;
  font-weight: 500;
}


.eventRow {
  display: flex;
  margin: 2em 2em;
  padding: 1em 1em;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  box-shadow: 0px 3px 12px white;
}
