.eventsTable {
  width: 400px;
  height: 200px;
  margin: 0px auto;
}

.tableHeader {
  width: 100%;
  height: 50px;
  background-color: green;
}

.eventRow {
  width: 100%;
  height: 50px;
  background-color: red;
}
