.PlayerProfile {
    padding-top: 130px;
    margin: 0;
    box-sizing: border-box;
    background-color: #0C0F11;
    background-position:center;
    position:absolute;
    min-width:100%;
    min-height:100vh;
    top:0;
    z-index:1;
    background-size: cover;
    background-repeat: no-repeat;
    color: #e4f9ff;
}
  .lotus {
    position: absolute;
    top: -10%;
    right: -10%;
    max-width: 300px;
    opacity: 0.6;
}

.buttons-player {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 50px; 
}
.buttons-player button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: inherit;
    text-decoration: none;
    font-weight: inherit;
    padding: 0.5em 1em;
    margin-left: 1em;
    margin-bottom: 5px;
    background-color: #ff6000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #e3f2ff;
    transition: all 0.1s ease-in-out;
    top: 0;
}
.playerCard{
    margin: 0 auto;
    margin-top: 20px;
    padding-top:20px;
    padding-bottom: 30px;
    margin: 100px;
    background-color: #040405;
    border-radius: 10px;
    font-weight: 500;
    position: relative;
}

.player-information{
display: flex;
text-align: left;
padding:20px;
}
.player-avatar{
    width: 150px;
}

.uncomming-events{
    background-color: white;
}

.buttons-player button:hover {
    transform: scale(1.1);
    background-color: #040405;
    color: #FFFFFF;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 1px 2px #e3f2ff
  }

@media (min-width: 1200px) {
    .lotus {
        top: -10%;
        right: -6%;
    }   
  }


  @media (min-width: 320px) and (max-width: 900px) {
    .lotus {
        top: -5%;
        right: -6%;
        max-width: 135px;
    }
    
  }