.PlayerProfile {
    padding-top: 130px;
    margin: 0;
    box-sizing: border-box;
    background-color: #0C0F11;
    background-position:center;
    position:absolute;
    min-width:100%;
    min-height:100vh;
    top:0;
    z-index:1;
    background-size: cover;
    background-repeat: no-repeat;
    color: #e4f9ff;
}

.buttons-player {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 50px; 
}
.buttons-player button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: inherit;
    text-decoration: none;
    font-weight: inherit;
    padding: 0.5em 1em;
    margin-left: 1em;
    margin-bottom: 5px;
    background-color: #ff6000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #e3f2ff;
    transition: all 0.1s ease-in-out;
    top: 0;
}
.playerCard{
    margin: 0 auto;
    margin-top: 20px;
    padding-top:20px;
    padding-bottom: 30px;
    margin: 100px;
    background-color: #040405;
    border-radius: 10px;
    font-weight: 500;
}

.player-information{
display: flex;
flex-direction: column;
align-items: flex-start;
}
.PlayerProfile img{
    width: 100px;
}