nav {
  display: flex;
  padding: 1em 3em;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color:  rgba(1, 0, 0, 0.7);  
  font-weight: 600;
}

.nav__projectName {
  color: #e4f9ff;
  text-decoration: none;
}
.logo {
  width: 350px;
}
.authLink {
  color: #e4f9ff;
  padding: 3em;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 3em;
}

.authLink:hover {
  color: #ffffff;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #ff6000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #B23326;
}

