.attending {
  margin-top: 20px;
  border-radius: 5px;
  background: #ff6000;
  border: 1px solid white;
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1;
  margin-left: 0;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.attending:hover {
  background-color: #CF3A28;
  cursor: pointer;
}





.attend {
  margin-top: 20px;
    background: #0D1A1A;
    border: 1px solid white;
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
    border-radius: 5px;
    line-height: 1;
    margin-left: 0;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  
  .attend:hover {
    background-color: #ff6000;
    cursor: pointer;
  }
