.auth__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 300px;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 20px;
}

form.auth__form {
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 300px;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  box-sizing: border-box;
}

.other {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.userControllerButton {
  box-sizing: border-box;
  margin: 0px;
  border: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(60deg, #ff6000, #e95900);
  border-radius: 3px;
  color: white;
}

.userControllerButton:hover {
  cursor: pointer;
}

.formInputs {
  margin: 10px 0px;
}

button.button__submit {
  max-width: 100px;
  margin: 1em auto;
}
.Signup {
  padding: 150px;
  margin: 0;
  box-sizing: border-box;
  background-color: #0c0f11;
  background-position: center;
  position: absolute;
  width: 100%;
  top: 0;
  /* z-index:-1; */
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  min-height: 100vh;
}

.submitButton {
  font-weight: 600;
  margin: 20px auto 0px;
  border: none;
  color: orangered;
  outline: none;
  background-color: transparent;
}

.deleteButton {
  font-weight: 600;
  margin: 20px auto 0px;
  border: none;
  color: black;
  outline: none;
  background-color: transparent;
}

.deleteButton:hover {
  cursor: pointer;
}

.submitButton:hover {
  cursor: pointer;
}

.react-mapbox-ac-input {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem !important;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(58, 57, 57);
  outline: none;
  font-family: "Noto Sans TC";
  box-sizing: border-box;
}

.search {
  margin-bottom: 2rem;
}

.react-mapbox-ac-menu {
  margin-top: 30px;
  width: 90%;
  position: absolute;
  z-index: 9999;
  background-color: transparent;
  border: 1px solid #ccc;
  padding-top: 0rem;
  padding-bottom: 1rem;
  margin-top: -1.3rem;
}

.react-mapbox-ac-suggestion {
  font-size: 12px !important;
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ff6000;
  color: white;
  text-align: left;
  margin: 1px 0px;
  width: 210px;
}

.react-mapbox-ac-suggestion:hover {
  color: white;
  background-color: rgb(43, 42, 42) !important;
}
