.Home {
  padding-top: 240px;
  margin: 0;
  box-sizing: border-box;
  background-image: url("https://res.cloudinary.com/dwttlckdr/image/upload/v1607774656/anotherweb_witaab.jpg");
  background-position: center;
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

Link {
  text-decoration: none;
}

.Home p {
  font-size: 4rem;
  font-weight: bolder;
  line-height: 1rem;
  text-align: justify;
  margin-left: 80px;
}

.homebutton {
  padding: 4px 8px;
  margin-left: 10px;
  font-size: 1.2rem;
}
.Home .about-us {
  text-align: justify;
  margin-left: 80px;
  font-size: 1.5rem;
}

.home {
  margin-bottom: 50px;
}

.home {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.home {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
